* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 30vw;
  height: auto;
  border: 2px solid #333;
  margin: 2em auto;
  text-align: center;
  border-radius: 2rem;
}

h1 {
  font-size: 3rem;
  background-color: aqua;
  padding: 1em;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

p {
  background-color: whitesmoke;
  border-top: 1px solid #333;
  font-size: 2.5rem;
}

.last-link {
  border-bottom-left-radius: 1.75rem;
  border-bottom-right-radius: 1.75rem;
}

a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 1em;
}

a:hover,
a:focus {
  color: whitesmoke;
  background-color: #333;
}
